DATABASE_URL=postgresql+asyncpg://neondb_owner:npg_wVuesLjIR5Z2@ep-raspy-term-aigzukpf-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=Spacemonkey35@!
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
